
@{
    ViewData["Title"] = "Login | Error";
    Layout = "_LayoutLogReg";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not Found</title>
</head>
<body>
    <h3 class="text-center mx-auto" style="padding-top:75px;">User not found</h3><br />
    <div class="mx-auto" style="width:300px;">

        <div class="container-fluid" style="align-content:center">
            <img src="https://cdn-icons-png.flaticon.com/512/2748/2748558.png" style="align-self:center;width:275px;" />
            <br />
            <br />
            <a class="btn btn-danger mx-auto container-fluid" href="/Login/Login">Try Again</a>

        </div>

    </div>
</body>


</html>

