
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not Found</title>
</head>
<body>
    <div class="container">
        <h1>User Not found</h1>
        <div>
            <a class="btn btn-danger" href="/Login/Login">Try Again</a>
        </div>
    </div>
</body>
</html>

