
@{
    ViewData["Title"] = "ForgotPassword";
 Layout = "_Layout"; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
</head>
<body>
    <div class="container">
        <form asp-action="ForgotPassword">
            <h1>Change Password</h1>
            <hr />
            <div class="form-group">
                <label for="UserId">User Id:</label>
                <input type="text" class="form-control" id="UserId" placeholder="Enter UserId" name="UserId" required>
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter New Password" name="pwd" required>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</body>
</html>

