
@{
    ViewData["Title"] = "ForgotPassword";
 Layout = "_Layout"; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#pwd1").on('keyup', function () {
                var password = $("#pwd").val();
                var confirmPassword = $("#pwd1").val();
                if (password != confirmPassword) {
                    $("#CheckPasswordMatch").html("Password does not match !").css("color", "red");
                    $("#butt").prop("disabled", true);
                }

                else {
                    $("#CheckPasswordMatch").html("Passwords match").css("color", "green");
                    $("#butt").show();
                    $("#butt").prop("disabled", false);
                }

            });
            $("#pwd").on('keyup', function () {
                var password = $("#pwd").val();
                var confirmPassword = $("#pwd1").val();
                if (password != confirmPassword) {
                    $("#CheckPasswordMatch").html("Password does not match !").css("color", "red");
                    $("#butt").prop("disabled", true);
                }

                else {
                    $("#CheckPasswordMatch").html("Passwords match").css("color", "green");
                    $("#butt").show();
                    $("#butt").prop("disabled", false);
                }

            });
        })

    </script>
</head>
<body>
    <div class="container">
        <form asp-action="ForgotPassword">
            <h1>Change Password</h1>
            <hr />
            <div class="form-group">
                <label for="UserId">User Id:</label>
                <input type="text" class="form-control" id="UserId" name="UserId"  required>
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" id="pwd" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Enter New Password" name="pwd" required>
            </div>
            <div class="form-group">
                <label for="pwd1">Confirm Password</label>
                <input type="password" class="form-control" id="pwd1" placeholder="Confirm Password" name="pwd1" required>
                <em style="margin-top: 7px;" id="CheckPasswordMatch"></em>
            </div>
            <button type="submit" id="butt"class="btn btn-success">Submit</button>
        </form>
    </div>
</body>
</html>

