
@{
    ViewData["Title"] = "Forgot Password";
 Layout = "_LayoutLogReg"; 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#pwd1").on('keyup', function () {
                var password = $("#pwd").val();
                var confirmPassword = $("#pwd1").val();
                if (password != confirmPassword) {
                    $("#CheckPasswordMatch").html("Password does not match !").css("color", "red");
                    $("#butt").prop("disabled", true);
                }

                else {
                    $("#CheckPasswordMatch").html("Passwords match").css("color", "green");
                    $("#butt").show();
                    $("#butt").prop("disabled", false);
                }

            });
            $("#pwd").on('keyup', function () {
                var password = $("#pwd").val();
                var confirmPassword = $("#pwd1").val();
                if (password != confirmPassword) {
                    $("#CheckPasswordMatch").html("Password does not match !").css("color", "red");
                    $("#butt").prop("disabled", true);
                }

                else {
                    $("#CheckPasswordMatch").html("Passwords match").css("color", "green");
                    $("#butt").show();
                    $("#butt").prop("disabled", false);
                }

            });
        })

    </script>
    <script>
        function showPassword() {
            var inp = document.getElementById("pwd");
            if (inp.type == 'password') {
                inp.type = 'text';
            }
            else {
                inp.type = 'password';
            }
        }
    </script>

</head>
<body>
    <!--<div class="container">
        <form asp-action="ForgotPassword">
            <h1>Change Password</h1>
            <hr />
            <div class="form-group">
                <label for="UserId">User Id:</label>
                <input type="text" class="form-control" id="UserId" name="UserId"  required>
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" id="pwd" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Enter New Password" name="pwd" required>
            </div>
            <div class="form-group">
                <label for="pwd1">Confirm Password</label>
                <input type="password" class="form-control" id="pwd1" placeholder="Confirm Password" name="pwd1" required>
                <em style="margin-top: 7px;" id="CheckPasswordMatch"></em>
            </div>
            <button type="submit" id="butt"class="btn btn-success">Submit</button>
        </form>
    </div>-->
    <h1 style="text-align:center;margin-top:30px">Change Password</h1>
    <div class="mx-auto" style="width: 450px; margin-top: 20px; padding-bottom: 50px;">
        <div class="card shadow-lg" style="border-radius:20px">
            <img src="https://blog.lastpass.com/wp-content/uploads/sites/20/2020/04/LastPass_Fedrated_Login_Launch_Blog-2.png" alt="edit img not available" style="width:350px;padding-top:10px;align-self:center">

            <hr />
            <div class="card-body justify-content-around">
                <form asp-action="ForgotPassword">
                    <div class="form-group">
                        <label for="UserId">User Id:</label>
                        <input type="text" class="form-control" id="UserId" name="UserId" required>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password</label>
                        <input type="password" class="form-control" id="pwd" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Enter New Password" name="pwd" required>
                    </div>
                    <div class="form-group">
                        <label for="pwd1">Confirm Password</label>
                        <input type="password" class="form-control" id="pwd1" placeholder="Confirm Password" name="pwd1" required>
                        <em style="margin-top: 7px;" id="CheckPasswordMatch"></em>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck" onclick="showPassword()">
                            <label class="form-check-label" for="gridCheck" style="color: #393f81;">
                                Show password
                            </label>
                        </div>
                    </div>
                    <button type="submit" id="butt" class="btn btn-success btn-block">Save Changes</button>


                </form>
            </div>
        </div>
    </div>

</body>
</html>

