@model DataLayer.Models.UserDetail

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogReg.cshtml";
}
            <div class="col col-xl-10" style="margin-top:100px; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">
                <div class="card mb-5" style="border-radius: 1rem; background-color: white; ">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://images.unsplash.com/photo-1502301197179-65228ab57f78?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=385&q=80"
                                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;height:100%;width:500px" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form asp-action="Login">
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="h1 fw-bold mb-0">Login</span>
                                    </div>
                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
                                    <div class="form-outline mb-4">
                                        <label asp-for="UserId" class="control-label form-label">Enter Your Registered Mail Id</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                                            </div>
                                            <input asp-for="UserId" class="form-control form-control-lg" required />
                                        </div>
                                        <span asp-validation-for="UserId" class="text-danger"></span>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label asp-for="Password" class="control-label form-label">Enter your Password</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
                                            </div>
                                            <input id="pwd" asp-for="Password" class="form-control form-control-lg" type="password" required />
                                        </div>
                                        <span asp-validation-for="Password" class="text-danger"></span>

                                    </div>
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="gridCheck" onclick="showPassword()">
                                            <label class="form-check-label" for="gridCheck" style="color: #393f81;">
                                                Show password
                                            </label>
                                        </div>
                                    </div>
                                        <div class="pt-1 mb-4">
                                            <input type="submit" value="Login" class="btn btn-success btn-lg btn-block" />
                                        </div>
                                        <div class="pt-1 mb-4">
                                            <div class="d-flex">
                                                <div>
                                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">
                                                        Don't have an account?
                                                        <a asp-controller="Login" asp-action="Register" style="color: #393f81;">Create here</a>
                                                    </p>
                                                </div>
                                                <div class="ml-auto">
                                                    <a asp-controller="Login" asp-action="ForgotPassword"
                                                       style="color: #393f81;">Forgot Password?</a>
                                                </div>
                                            </div>
                                            <div>
                                                <a class="btn btn-dark" asp-controller="Home" asp-action="Index">Home</a>
                                            </div>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@*
@{
    if (TempData["msg"] != null)
    {
        <script>
                alert('@TempData["msg"]')
        </script>
    }
}*@
<script>
    function showPassword() {
        var inp = document.getElementById("pwd");
        if (inp.type == 'password') {
            inp.type = 'text';
        }
        else {
            inp.type = 'password';
        }
    }
</script>
