
@{
    ViewData["Title"] = "Password Changed";
    Layout = "_LayoutLogReg";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PasswordChanged</title>
</head>
<body>
    <div class="container">
        <h1>Password Changed Successfully</h1><br />
        <a class="btn btn-success" href="/Login/Login">Go to login</a>
    </div>
</body>
</html>

