
@{
    ViewData["Title"] = "Password Changed";
    Layout = "_LayoutLogReg";
}


<body>
    <h3 class="text-center mx-auto" style="padding-top:75px;">Password Changed</h3><br />
    <div class="mx-auto" style="width:300px;">

        <div class="container-fluid"style="align-content:center">
            <img src="https://cdn-icons-png.flaticon.com/512/6195/6195700.png" style="align-self:center;width:275px;"  />
            <br />
            <br />
            <a class="btn btn-success mx-auto container-fluid" href="/Login/Login" :center">Back to login</a>
        </div>
        
    </div>
</body>
