@model DataLayer.Models.UserDetail;



@{
    ViewData["Title"] = "Register";
}

<html>
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#hiddenDiv").hide()
            $("notMatch").show
            $("#role").change(function () {
                if ($(this).val() == 'insurer' || $(this).val() == 'broker') {
                    $("#hiddenDiv").show()
                }
                else {
                    $("#hiddenDiv").hide()
                }
            })
            /*$("#confirmPass").keyup(function () {
                if ($("#pass").val() === $(this).val())
                    $("#notMatch").hide()
                else
                    $("#notMatch").show()
            })*/
            $("#form").submit(function () {
                if ($("#hiddenDiv").val() == 'insurer') {

                }
                /*else if ($("#hiddenDiv").val() == 'broker') {

                }*/
            })
        });
    </script>
</head>
<body>
    <hr />
    <!--
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Register" id="form" onsubmit="addToModel()">

                <div class="form-group text-white">
                    <label asp-for="UserId" class="control-label"></label>
                    <input asp-for="UserId" type="email" class="form-control" required />

                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>



                <div class="form-group text-white" id="pass">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
        -->
                <!--<div class="form-group text-white" id="confirmPass" onkeyup="validate()">
                    <em id="notMatch">Password doesn't match</em>
                    <label class="control-label"></label>
                    <input   class="form-control" required />
                    <span class="text-danger"></span>
                </div>-->


    <!--
                <div class="form-group text-white">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" required />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group text-white">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" required />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group text-white">
                    <label asp-for="Gender" class="control-label"></label>
                    <select name="Gender" class="form-control" asp for="Gender" asp-items="@ViewBag.gender" required>
                        <option value="" selected disabled> Select Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="others">Others</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group text-white">
                    <label asp-for="Role" class="control-label">Select Role</label>
                    <select name="Role" id="role" class="form-control" on="load()" onclick="click()" asp for="Role" asp-items="@ViewBag.roles" required>
                        <option value="" selected disabled> Select Role</option>
                        <option value="buyer">Buyer</option>
                        <option value="broker">Broker</option>
                        <option value="insurer">Insurer</option>

                    </select>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
                <div class="form-group text-white" id="hiddenDiv">
                    <label asp-for="LicenseId" class="control-label">Enter License Id</label>
                    <input  asp-for="LicenseId" class="form-control" type="number" />
                    <span asp-validation-for="LicenseId" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    -->
    
    <section class="h-80 bg-black">
        <div class="container py-5 h-80">
            <div class="row d-flex justify-content-center align-items-center h-80">
                <div class="col">
                    <div class="card card-registration my-4">
                        <div class="row g-0">
                            <div class="col-xl-6 d-none d-xl-block">
                                <img src="https://wallpaper.dog/large/9568.jpg"
                                     alt="Sample photo"
                                     class="img-fluid"
                                     style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem; height:850px;width:500px" />
                            </div>
                            <div class="col-xl-6">
                                <div class="card-body p-md-5 text-black">
                                    <h3 class="mb-5 text-uppercase">Register</h3>
                                    <form asp-action="Register" id="form" onsubmit="addToModel()">
                                                <div class="form-outline">
                                                    <label asp-for="UserId" class="form-label"><b>User Id</b></label>
                                                    <input asp-for="UserId" type="email" class="form-control form-control-lg" required />
                                                    <span asp-validation-for="UserId" class="text-danger"></span>
                                                </div>
                                                <div class="form-outline">
                                                    <label asp-for="Password" class="form-label"><b>Password</b></label>
                                                    <input asp-for="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control form-control-lg" required />
                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <label asp-for="FirstName" class="form-label"><b>First Name</b></label>
                                                    <input asp-for="FirstName" class="form-control form-control-lg" required />
                                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <label asp-for="LastName" class="form-label"><b>Last Name</b></label>
                                                    <input asp-for="LastName" class="form-control form-control-lg" required />
                                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label asp-for="Gender" class="form-label"><b>Gender</b></label>
                                            <select name="Gender" class="form-control form-control-lg" asp for="Gender" asp-items="@ViewBag.gender" required>
                                                <option value="" selected disabled> Select Gender</option>
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                                <option value="others">Others</option>
                                            </select>
                                            <span asp-validation-for="Gender" class="text-danger"></span>
                                        </div>
                                        <div class="form-group text-black">
                                            <label asp-for="Role" class="form-label"><b>Role</b></label>
                                            <select name="Role" id="role" class="form-control form-control-lg" on="load()" onclick="click()" asp for="Role" asp-items="@ViewBag.roles" required>
                                                <option value="" selected disabled> Select Role</option>
                                                <option value="buyer">Buyer</option>
                                                <option value="broker">Broker</option>
                                                <option value="insurer">Insurer</option>
                                            </select>
                                            <span asp-validation-for="Role" class="text-danger"></span>
                                        </div>
                                        <div class="form-group text-black" id="hiddenDiv">
                                            <label asp-for="LicenseId" class="form-label">Enter License Id</label>
                                            <input asp-for="LicenseId" class="form-control form-control-lg" type="number" />
                                            <span asp-validation-for="LicenseId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <div class="d-flex justify-content-end pt-3">
                                                <input type="submit" value="Create" class="btn btn-primary btn-lg" />
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>