@model DataLayer.Models.UserDetail;



@{
    ViewData["Title"] = "Register";
}



<h1>Register</h1>

<h4>UserDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">

            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" type="email" class="form-control" required />

                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label">Select Role</label>

                <select name="Role" class="form-control" asp for="Role" asp-items="@ViewBag.roles" required>
                    <option value="" selected disabled> Select Role</option>
                    <option value="buyer">Buyer</option>
                    <option value="broker">Broker</option>
                    <option value="insurer">Insurer</option>

                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <!--<input asp-for="Gender" class="form-control" />-->
                <select name="Gender" class="form-control" asp for="Gender" asp-items="@ViewBag.gender" required>
                    <option value="" selected disabled> Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="others">Others</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
