
@{
    ViewData["Title"] = "Unavailable";
    Layout = "_LayoutLogReg";
}


<body>
    <h3 class="text-center mx-auto" style="padding-top:75px;">Username not available, try again !!!</h3><br />
    <div class="mx-auto" style="width:300px;">

        <div class="container-fluid" style="align-content:center">
            <img src="~/css/registerback.png" style="align-self:center;width:275px;" />
            <br />
            <br />
            <a class="btn btn-success container-fluid" href="/Login/Register" :center">Back to Register</a>
        </div>

    </div>
</body>