################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Insurewave/.vs/Insurewave
/Insurewave/DataLayer/bin/Debug/net5.0
/Insurewave/DataLayer/obj
/Insurewave/PresentationLayer/bin/Debug/net5.0
/Insurewave/PresentationLayer/obj
/Insurewave/RepoLayer/bin/Debug/net5.0
/Insurewave/RepoLayer/obj
