@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

    <style>
        body {
            background-image: linear-gradient(to right,#cfe3ed, #96c4db);
        }

        header {
            background-color: white;
        }

        footer {
            background-color: white;
        }

        li {
            padding-left: 15px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar  navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-3 ">
            <div class="container-fluid">

                <a class="navbar-brand" href="#">
                    <img src="/css/insurewave.png" alt="" width="80" height="50" class="d-inline-block align-text-top">

                </a>



                <a class="navbar-brand text-dark" asp-controller="Home" asp-action="Index"><b> Insurewave</b> </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link  text-dark" asp-controller="Buyer" asp-action="Index"><strong>Home</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-dark" asp-controller="Buyer" asp-action="AddAssets"><strong>Add Asset</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-dark" asp-controller="Buyer" asp-action="DisplayAssets"><strong>Display Assets</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-dark" asp-controller="Buyer" asp-action="Payment"><strong>Payment</strong></a>
                        </li>
                        @*
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
                    Assets
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-action="AddAssets">Add Asset</a>
                    <!--<a class="dropdown-item" asp-action="EditPolicy">Update</a>-->
                    <a class="dropdown-item" asp-action="DisplayAssets">Asset Details</a>
                </div>
            </div>
        </li>
                        *@
                    </ul>
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <a class="nav-link"><strong>Welcome @Context.Session.GetString("FirstName")</strong></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="UserDetails" asp-action="Details">
                                <i class="fa fa-user-circle fa-2x" aria-hidden="true" style="color:steelblue"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a onclick="preventBack()" class="nav-link text-dark" asp-controller="Login" asp-action="LogOut">
                                <i class="fa fa-power-off fa-2x" aria-hidden="true" style="color:red"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
