@model DataLayer.Models.PolicyDetail

@{
    ViewData["Title"] = "Insurer | Reject Policy";
    Layout = "~/Views/Shared/_LayoutInsurer.cshtml";
}

<h1>RejectPolicy</h1>

<h4>PolicyDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RejectPolicy">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PolicyId" />
            <div class="form-group">
                <label asp-for="AssetId" class="control-label" hidden></label>
                <select asp-for="AssetId" class="form-control" asp-items="ViewBag.AssetId"hidden></select>
                <span asp-validation-for="AssetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsurerId" class="control-label"></label>
                <select asp-for="InsurerId" class="form-control" asp-items="ViewBag.InsurerId"></select>
                <span asp-validation-for="InsurerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrokerId" class="control-label"></label>
                <select asp-for="BrokerId" class="form-control" asp-items="ViewBag.BrokerId"></select>
                <span asp-validation-for="BrokerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Premium" class="control-label"></label>
                <input asp-for="Premium" class="form-control" />
                <span asp-validation-for="Premium" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LumpSum" class="control-label"></label>
                <input asp-for="LumpSum" class="form-control" />
                <span asp-validation-for="LumpSum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PremiumInterval" class="control-label"></label>
                <input asp-for="PremiumInterval" class="form-control" />
                <span asp-validation-for="PremiumInterval" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaturityAmount" class="control-label"></label>
                <input asp-for="MaturityAmount" class="form-control" />
                <span asp-validation-for="MaturityAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolicyStatus" class="control-label"></label>
                <input asp-for="PolicyStatus" class="form-control" />
                <span asp-validation-for="PolicyStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewStatus" class="control-label"></label>
                <input asp-for="ReviewStatus" class="form-control" />
                <span asp-validation-for="ReviewStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feedback" class="control-label"></label>
                <input asp-for="Feedback" class="form-control" />
                <span asp-validation-for="Feedback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

