@model IEnumerable<DataLayer.Models.BrokerRequest>

@{
    ViewData["Title"] = "Broker | Requests";
    Layout = "~/Views/Shared/_LayoutBroker.cshtml";
}

<style>
    .ass {
        width: 150px;
    }

        .ass:hover {
            border-radius: 20px;

            @*transition:all ease-in-out 0.3s;
            *@
        }
</style>
<div class="mx-auto" style="width: 1000px; margin-top: 50px; border-radius:30px;">
    <div class="card text-center">
        <h3 class="card-title" style="background-color: rgb(7, 43, 68); color:rgb(251, 251, 255)">Current Requests</h3>
        <div class="card-body" style="background-color: azure;">
            <table class="table table-hover">
                <thead class="bg-light">
                    <tr style="text-align:center; background-color: rgb(101, 167, 202);">
                        <th>
                            @Html.DisplayNameFor(model => model.Asset)
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Asset.AssetName)
                        </td>
                        <td>
                            <a class="btn btn-success ass" asp-action="AddPolicy" asp-route-assetId="@item.AssetId">Add Policy</a>
                        </td>
                        <td>
                            <a class="btn btn-danger ass" onclick="message()" asp-action="DeleteRequest" asp-route-requestId="@item.RequestId">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function message() {
        alert("Request has been deleted");
    }
</script>