@model DataLayer.Models.PolicyDetail

@{
    ViewData["Title"] = "Broker | Edit Policy";
    Layout = "_LayoutLogReg";
}
@*
    <h1>EditPolicy</h1>

    <h4>PolicyDetail</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditPolicy">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PolicyId" />
                <div class="form-group">
                    <label asp-for="AssetId" class="control-label"></label>
                    <select asp-for="AssetId" class="form-control" asp-items="ViewBag.AssetId"></select>
                    <span asp-validation-for="AssetId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InsurerId" class="control-label"></label>
                    <select asp-for="InsurerId" class="form-control" asp-items="ViewBag.InsurerId"></select>
                    <span asp-validation-for="InsurerId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BrokerId" class="control-label"></label>
                    <select asp-for="BrokerId" class="form-control" asp-items="ViewBag.BrokerId"></select>
                    <span asp-validation-for="BrokerId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Duration" class="control-label"></label>
                    <input asp-for="Duration" class="form-control" />
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Premium" class="control-label"></label>
                    <input asp-for="Premium" class="form-control" />
                    <span asp-validation-for="Premium" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LumpSum" class="control-label"></label>
                    <input asp-for="LumpSum" class="form-control" />
                    <span asp-validation-for="LumpSum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PremiumInterval" class="control-label"></label>
                    <input asp-for="PremiumInterval" class="form-control" />
                    <span asp-validation-for="PremiumInterval" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaturityAmount" class="control-label"></label>
                    <input asp-for="MaturityAmount" class="form-control" />
                    <span asp-validation-for="MaturityAmount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PolicyStatus" class="control-label"></label>
                    <input asp-for="PolicyStatus" class="form-control" />
                    <span asp-validation-for="PolicyStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReviewStatus" class="control-label"></label>
                    <input asp-for="ReviewStatus" class="form-control" />
                    <span asp-validation-for="ReviewStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Feedback" class="control-label"></label>
                    <input asp-for="Feedback" class="form-control" />
                    <span asp-validation-for="Feedback" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
*@
<div class="mx-auto" style="width: 500px; margin-top: 50px; padding-bottom: 50px;">
    <div class="card shadow-lg">
        <img src="~/css/policyedit.jpg" alt="edit img not available" style="width:350px; align-self:center; padding-top:10px">
        <h1 style="text-align:center">Edit Policy</h1>
        <hr>
        <div class="card-body">
            <form asp-action="EditPolicy">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PolicyId" />
                <div class="form-group">
                    <label asp-for="AssetId" class="control-label" style="font-size:larger">Asset ID for @ViewBag.Name</label>
                    <input type="text" asp-for="AssetId" class="form-control" asp-items="ViewBag.AssetId" readonly>
                    <span asp-validation-for="AssetId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InsurerId" class="control-label" style="font-size:larger" >Insurer ID</label>
                    <input type="text" asp-for="InsurerId" class="form-control" asp-items="ViewBag.InsurerId" readonly>
                    <span asp-validation-for="InsurerId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BrokerId" class="control-label" style="font-size:larger" hidden>Broker ID</label>
                    <select asp-for="BrokerId" class="form-control" asp-items="ViewBag.BrokerId" hidden></select>
                    <span asp-validation-for="BrokerId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Duration" class="control-label" style="font-size:larger"></label>
                    <input asp-for="Duration" class="form-control" />
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Premium" class="control-label" style="font-size:larger"></label>
                    <input asp-for="Premium" class="form-control" />
                    <span asp-validation-for="Premium" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LumpSum" class="control-label" style="font-size:larger">Lump Sum</label>
                    <input asp-for="LumpSum" class="form-control" />
                    <span asp-validation-for="LumpSum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label" style="font-size:larger">Start Date</label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PremiumInterval" class="control-label" style="font-size:larger">Premium Interval</label>
                    <input asp-for="PremiumInterval" class="form-control" />
                    <span asp-validation-for="PremiumInterval" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaturityAmount" class="control-label" style="font-size:larger">Maturity Amount</label>
                    <input asp-for="MaturityAmount" class="form-control" />
                    <span asp-validation-for="MaturityAmount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PolicyStatus" class="control-label" style="font-size:larger">Policy Status</label>
                    <input asp-for="PolicyStatus" class="form-control" />
                    <span asp-validation-for="PolicyStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReviewStatus" class="control-label" style="font-size:larger">Review Status</label>
                    <input asp-for="ReviewStatus" class="form-control" />
                    <span asp-validation-for="ReviewStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Feedback" class="control-label" style="font-size:larger"></label>
                    <input asp-for="Feedback" class="form-control" readonly/>
                    <span asp-validation-for="Feedback" class="text-danger"></span>
                </div>
                <div class="d-flex">
                    <div>
                        <a asp-action="GetAllPolicies" class="text-white btn btn-dark">Back</a>
                    </div>
                    <div class="form-group ml-auto">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}