
@{
    ViewData["Title"] = "Index";
}

<h1>Broker Page @TempData["name"]</h1>
<a class="btn btn-success" href="/Broker/GetAllPolicies">Details</a>
<a class="btn btn-primary" asp-action="AddPolicy" asp-controller="Broker">Add Policy</a>

