@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-dark">Welcome</h1>
    <p class="text-dark">
        Insurance Policy Components
        When choosing a policy, it is important to understand how insurance works.
        <br />
        A firm understanding of these concepts goes a long way in helping you choose the policy that best suits your needs. For instance, whole life insurance may or may not be the right type of life insurance for you. There are three components of any type of insurance (premium, policy limit, and deductible) that are crucial.
        Premium
        A policy's premium is its price, typically expressed as a monthly cost. The premium is determined by the insurer based on your or your business's risk profile, which may include creditworthiness.
        <br />
        For example, if you own several expensive automobiles and have a history of reckless driving, you will likely pay more for an auto policy than someone with a single mid-range sedan and a perfect driving record. However, different insurers may charge different premiums for similar policies. So f
        Policy Limit
        The policy limit is the maximum amount an insurer will pay under a policy for a covered loss. Maximums may be set per period (e.g., annual or policy term), per loss or injury, or over the life of the policy, also known as the lifetime maximum.
        <br />
        Typically, higher limits carry higher premiums. For a general life insurance policy, the maximum amount the insurer will pay is referred to as the face value, which is the amount paid to a beneficiary upon the death of the insured.
        Deductible
        The deductible is a specific amount the policy-holder must pay out-of-pocket before the insurer pays a claim. Deductibles serve as deterrents to large volumes of small and insignificant claims.
        <br />
        Deductibles can apply per-policy or per-claim depending on the insurer and the type of policy. Policies with very high deductibles are typically less expensive because the high out-of-pocket expense generally results in fewer small claims.
    </p>
</div>
