@{
    ViewData["Title"] = "Privacy Policy";
    Layout="_LayoutLogReg";
}

<h3 class="text-center" style="background-color: teal; padding: 10px; margin-top: 20px; box-shadow: 0px 15px 10px -15px #111;">
    Privacy statement
</h3>
<p style="text-align:center;padding:10px;margin-top:20px;width:800px;" class="container-fluid">
    April 2022

    This privacy notice explains how Insurewave collects and uses personal data, and describes the rights you have with respect to your personal data.<br /><br />

    In this notice, “Insurewave,” “our”, “we” or “us” refers to the development team of Insurewave.  The controllers of your personal data are one or more of the members involved in this project.

    <br /><br />Further information about the development team can be found in this page.

               <br /><br />Further information about the development team can be found in this page.
    <br /><br />Insurewave processes personal data for a variety of purposes. We collect this personal data directly from you, for example, when you register with us, edit your profile or add assets, etc., via our website. Insurewave ensures complete user privacy, which means no particular user can access the other's personal data. Users can only view and edit data which concern them.

          <br /><br />This privacy notice is intended to cover all of the above-mentioned scenarios. If you have any further questions regarding the processing of your personal data, please contact the the Insurewave team who will direct your query to the appropriate person or team within the organization.
</p>
