@model DataLayer.Models.BuyerAsset

@{
    ViewData["Title"] = "Buyer | Add Asset";
    Layout = "_LayoutLogReg";
}
<div class="col col-xl-10" style="margin: 0; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">
    <div class="card" style="border-radius:20px;">
        <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://images.unsplash.com/photo-1625806786037-2af608423424?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                     alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;width:520px;height:700px" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                    <form asp-action="AddAssets">
                        <div class="d-flex align-items-center mb-3 pb-1">
                            <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                            <span class="h1 fw-bold mb-0">Add Asset</span>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger text-white"></div>
                        <!--<div class="form-group">
                            <label asp-for="CountryId" class="control-label"></label>
                            <input asp-for="CountryId" class="form-control" />
                            <span asp-validation-for="CountryId" class="text-danger"></span>
                        </div>
                            -->
                        <div class="form-group">
                            <label asp-for="CountryId" class="control-label">Country Name</label>
                            <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="AssetName" class="control-label">Asset Name</label>
                            <input asp-for="AssetName" class="form-control" />
                            <span asp-validation-for="AssetName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PriceUsd" class="control-label">Price (in USD)</label>
                            <input asp-for="PriceUsd" class="form-control" />
                            <span asp-validation-for="PriceUsd" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Type" class="control-label">Asset type</label>
                            <input asp-for="Type" class="form-control" />
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                        <!--
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                            -->
                        <div class="pt-1 mb-4">
                            <input type="submit" value="Create" class="btn btn-success btn-lg btn-block" />
                        </div>
                        <div>
                            <a class="btn btn-dark" asp-action="Index">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}