@model IEnumerable<DataLayer.Models.BrokerDetail>

@{
    ViewData["Title"] = "Buyer | Request Broker";
    Layout = "_LayoutBuyer";
}
<script>
    function myFunction() {
        alert("Request has been sent successfully!");
    }
</script>
<h3 class="text-center container-fluid" style="background-color: teal; padding: 10px; margin-top: 20px; box-shadow: 0px 15px 10px -15px #111;">Request To Broker</h3>

<div class="mx-auto" style="width: 1400px; margin-top: 20px; border-radius:30px;">
    <div class="card text-center" style="border-radius: 30px;">
        <div class="card-body" style="background-color:#9fdfc3; border-radius: 30px;">
            <table class="table table-hover" style="border-radius: 30px;">
                <thead class="bg-light" style="border-radius: 30px;">
                    <tr style="text-align:center; background-color: rgb(101, 167, 202);">

                        <th>
                            @Html.DisplayNameFor(model => model.Broker)
                        </th>
                        
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BrokerId)
                            </td>
                            

                            <td>
                                <a class="btn btn-sm btn-success" asp-action="AddRequest1" onclick="myFunction()" asp-route-BrokerId="@item.BrokerId ">Send Request</a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
